<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<section>
  <h1>Welcome to the Blog</h1>
  <h2>Recent Posts</h2>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <small>by <%= post.author.name %> on <%= post.createdAt.toDateString() %></small>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('./partials/footer') %>
